<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - d3-timeseries Example 1</title>
  <link rel='stylesheet' href='https://mcaule.github.io/d3-timeseries/dist/d3_timeseries.min.css'>

</head>
<body>
<!-- partial:index.partial.html -->

<h2>
  All
</h2>
<div id="chart"></div>

<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/4.10.0/d3.min.js'></script>
<script src='https://mcaule.github.io/d3-timeseries/dist/d3_timeseries.min.js'></script>
<script src='https://mcaule.github.io/d3-timeseries/dist/create-example-data.js'></script>


<script>
{% for c in country %}  
data{{loop.index}} = [
  {%for d in country[c] %}  
    {"date": new Date("{{d["date"]|safe}}"),
    "confirmed": {{d["confirmed"]}},
      "deaths": {{d["deaths"]}},
      "recovered":{{d["recovered"]}} 
    },
  {% endfor %}    
];
{% endfor %}
var chart = d3_timeseries()
{% for c in country %}  
              .addSerie(data{{loop.index}},{x:'date',y:'confirmed'},{interpolate:'monotone',color:"#333"})
              //.addSerie(data{{loop.index}},{x:'date',y:'deaths'},{interpolate:'monotone',color:"#555"})
              //.addSerie(data{{loop.index}},{x:'date',y:'recovered'},{interpolate:'monotone',color:"#777"})
{% endfor %}              
              .width(820)

chart('#chart')

</script>

</body>
</html>
