
<!DOCTYPE html>
<html>
<body>
<meta charset="utf-8">

<link rel="stylesheet" href="/static/style.css">


<body>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
<script src="/static/d3.v3.min.js"></script>
<script src="/static/topojson.v1.min.js"></script>

<script src="/static/d3-color.v1.min.js"></script>
<script src="/static/d3-interpolate.v1.min.js"></script>
<script src="/static/d3-scale-chromatic.v1.min.js"></script>

<div class="space">

</div>
<div class="graph"> </div>

<div class="flex-parent">
    <div class="input-flex-container">
        {% for d in data.getDate() %}      
        
        {% if loop.index == iddate|int() %}
        <div class="input active" style="background-color: blue;">
            {% else %}
          <div class="input">
            {% endif %}
           <a href="/world/{{loop.index}}"><span data-info="{{d}}"></span></a>                        
          </div>        
       {% endfor %}          
    </div>
</div>    


 
<div id="countryname">
    world
</div>




<script>



var places = [
            {% for d in data.getNbRow() %}            
              {
                name: "{{data.getName(d)}}",				        
                location: {
                  latitude: {{data.getLat(d)}},
                  longitude: {{data.getLong(d)}}
                },
                nbdeath : {{data.getData(d,iddate)}},
              },
            {% endfor %}           
            ] 

var width = 1260,
    height = 500;

//Define map projection
      var projection = d3.geo.mercator()
				.center([0, 15 ])
    				.scale(200);

            //Define path generator
            //var path = d3.geo.path()
             //                .projection(projection);

var path = d3.geo.path().projection(projection);
//var path = d3.geo.path();

function zoomed() {
  svg.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
}
  

var zoom = d3.behavior.zoom()
    .scaleExtent([1, 8])
    .on("zoom", zoomed);

var svg = d3.select("div.graph").append("svg")
    .attr("width", width)
    .attr("height", height);



var url = "/static/countries.json";
d3.json(url, function(error, topology) {
  if (error) throw error;
  
  var geojson = topojson.feature(topology, topology.objects.units);

  
svg
    .call(zoom)
    .call(zoom.event);


 


  svg.selectAll("path")
      .data(geojson.features)
      .enter().append("path")
      .on('mouseover', countrymouseover)
      .attr("d", path);

svg.selectAll(".pin")
						  .data(places)
						  .enter().append("circle", ".pin")
						  .attr("r", function(d) { 
                if ( d.nbdeath == 0) return 0;  
                return  Math.log(d.nbdeath);
                
                //return d.nbdeath/1000; 
              })
              .attr("fill", function(d) { return d3.interpolateReds(d.nbdeath/50000); } )
						  .attr("transform", function(d) {
							return "translate(" + projection([
							  d.location.longitude,
							  d.location.latitude
							]) + ")";
						  })
              .on('mouseover', mouseover)
              .on('mouseout', mouseout)
						  //.on('click', tip.hide);
});

var lastpinover = null;
var lastdataover = null;

function countrymouseover(d)
{
  console.log(d.properties.name);
  $("#countryname").text(d.properties.name);
}

function mouseover(d){
  console.log(d);
  $("#countryname ").text(d.name+": " +d.nbdeath);
  lastpinover = this;
  lastdataover = d;
  // Highlight hovered province
     d3.select(this).style('fill', 'orange');

  // Draw effects
  //textArt(nameFn(d));
}


function mouseout(d){
  // Reset province color
  console.log(lastpinover);
  d3.select(lastpinover).style('fill', d3.interpolateReds(lastdataover.nbdeath/50000));  

  // Remove effect text
  
}

function changedate(){
  location.href ="/"+ $("#date").val();
  //console.log($("#date").val());  
}


</script>
</body>
</html>
